$font-light:  rgb(248, 246, 246); 	
$font-dark:  rgba(12, 0, 0, 0.671); 	
$font-hover: #FBC403;
$font-sm: 12px; 
$font-lg: 1.5rem; 

$background: #FBFCD4; 
$bg-gradient: #ffffffe1; 
$bg-info: #17a2b8; 
$header-bg: rgb(0, 0, 0); 
