@import "mixins";
@import "variables"; 

.article-page {
    margin: 0; 
    padding: 0; 
}

.article-header-image {
    margin: 10px; 
    padding: 10px; 
}

.article-header-image img {
    width: 100%; 
}

.article-info {
    padding: 20px; 
}