.blog-wrapper {
    background-image: url("/assets/images/earth.jpg"); 
    background-size: cover; 
    background-position: center left; 
    opacity: .9; 
    padding-top: 100px;
    color: white;  
}

.blog-card-container {
    display: flex; 
    flex-direction: row;
    color: black; 
    padding: 2px; 
}
.blog-card {
    justify-content: space-between;
    padding: 2px; 
    margin: 4px; 
}
