@import "mixins";
@import "variables"; 

.blog-wrapper {
    background-image: url("/assets/images/earth.jpg"); 
    background-size: cover; 
    background-position: center left; 
    opacity: .9; 
    padding-top: 100px;
    color: white;  
}

.blog-articles {
    padding: 2px; 
}

.card {
    padding: 2px; 
    margin: 2px; 
}

.card-title, .title {
    font-size: 1.5rem; 
    color: $font-dark; 
    padding: 2px; 
}
.title:hover {
    color: $font-hover;
}

.card-text, .text {
    font-weight: bold; 
    color: $font-dark; 
    padding: 2px;
}